* {
  font-family: 'Inter', sans-serif;
  font-family: 'Rubik', sans-serif;
 
}

:root {
  --nav-h: 64px;   /* adjust if your navbar is taller / shorter */
}


html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}


.home{
  background-color: white;
  border: 1px solid #e0e0e0;
  border-radius: 12px;
  padding: 30px;
  margin-top: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.03);
  margin-left: 16px;
  margin-right: 16px;
}

.home p {
  width: 45%;
}

.home span {
  margin-bottom: 15px;
}

