
.sidebar {
    width: 45vh;
    height: 100vh;
    /*background-color: #fafafa;*/
    background: #fff;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    /*box-shadow: 2px 0 8px rgba(0, 0, 0, 0.05);*/
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.15);
    overflow: scroll;
}

.open {
    left: 0;
}

.closeBtn {
    position: absolute;
    top: 10px;
    right: 50px;
    background: none;
    border: none;
    font-size: 24px;
    color: black;
    cursor: pointer;
}


.content {
    margin-top: 0px;
    padding: 20px;
    text-align: left;         /* 👈 ensures inline text is left-aligned */
    align-items: flex-start;  /* 👈 for flex children */
}

.content h1 {
    font-size: 36px;
    margin-bottom: 0px;
}



