
.sidebar {
    width: 430px;
    flex-shrink: 0;
    position: sticky;

    height: 100vh;
    background: #fff;
    border-right: 1px solid #ddd;
    overflow-y: auto;

    top: var(--nav-h);
    height: calc(100vh - var(--nav-h));
}

.open {
    left: 0;
}

.closeBtn {
    position: absolute;
    top: 10px;
    right: 50px;
    background: none;
    border: none;
    font-size: 24px;
    color: black;
    cursor: pointer;
}


.content {
    margin-top: 0px;
    padding: 20px;
    text-align: left;         /* 👈 ensures inline text is left-aligned */
    align-items: flex-start;  /* 👈 for flex children */
}

.content h1 {
    font-size: 36px;
    margin-bottom: 0px;
}






