

.exploreContainer {
    display: flex;
    height: 100vh;
    position: absolute;
}

.explore {
    flex: 1;                /* grow to fill the row                 */
    position: relative;     /* keeps the ★ button anchored inside   */
    background-color: #f9f9f9;
}

.sidebarButton {
    color: black;
    border: none;
    border-radius: 15px;
    margin-top: 10px;
    margin-left: 10px;
    width: 50px;
    height: 50px;
    font-size: 25px;
    position: absolute;  /* prevents this from pushing down react flow stuff type  */
    z-index: 10001;
}

.sidebarButton:hover {
    cursor: pointer;
    color: #0070f3;
}